html {
  height: 100%;
  width: 100%;
}
@media(max-width: 679px){
body {
  margin: 0;
  display: flex;
  width: 120%;
  overflow: visible;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, rgb(240, 240, 250), rgb(200, 200, 200), rgb(175, 250, 150), rgb(120, 100, 200), rgb(150, 150, 120));
  background-repeat: repeat;
  background-size: 1000%;
  background-position: 0% 0%;
  transition: background-position .5s ease-in-out;
}
#klm {
  font-family: Rubik Doodle Shadow;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 300%;
}

#trt {
  font-family: Rubik Doodle Shadow;
  position: absolute;
  top: 14%;
  left: 12%;
  font-size: 300%;
}
  #chckb{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 5%;
    right: 5%;
    text-align: left;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 3em;
  }
  .chck{
    position: relative;
    width: 2em;
    height: 2em;
    border: none;
    cursor: pointer;
    display: inline-block;
  }
  .chckyz{
    position: relative;
    font-family: Josefin Sans;
    display: inline-block;
    font-size: 10px;
  }
  #hata{
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 20%;
    display: flex;
    background-color: rgba(200, 145, 120, .4);
    backdrop-filter: blur(50px);
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    box-shadow: rgba(200, 145, 120, .5) 0px 0px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  #hatasebep{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(240, 220, 240);
    text-shadow: rgba(240, 220, 240, .7) 0px 0px 10px;
    font-weight: bolder;
    min-width: 10em;
    width: 10em;
    height: 2.75em;
    overflow: hidden;
  }
  @keyframes hatavar{
    from{width: 0; display: none;}
    to{width: 50%; display: flex;}
  }
.bslk {
  transition: all 1s ease;
}

.kel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  transition: all 1.5s ease;
  opacity: 1;
  animation-delay: .25s;
  animation: fadeIn 1s ease; /* Add a fade-in animation */
  z-index: 2;
}
@keyframes fail{
  from{border-bottom: 2px rgb(0, 0, 0) solid; color: rgb(0, 0, 0)}
  to{border-bottom: 2px rgb(200, 70, 70) solid; color: rgb(200, 70, 70)}
}
@keyframes fadeIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes scale{
  0%{scale: 1}
  70%{scale: 1.1}
  100%{scale: 0}
}
@keyframes scaleters{
  0%{scale: 0}
  70%{scale: 1.1}
  100%{scale: 1}
}
.hrf {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 2em;
  height: 150%;
  border-radius: 0px;
  text-shadow: rgba(10, 10, 30, .3) 0px 0px 5px;
  border: 1px solid transparent;
  border-top: none;
  background: transparent;
  border-color: none;
  border-bottom: solid;
  border-bottom-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: border-bottom-color ease .35s;
  font-size: 20px;
  text-transform: uppercase;
}
.yok{
  left: 0;
  top: 0;
}
.gk {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 5em;
  height: 2%;
  text-shadow: rgba(10, 10, 30, .3) 0px 0px 5px;
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  transition: all 1s ease;
  letter-spacing: 2px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -150% -90%;
  z-index: 5;
  animation: fadeIn 1s ease-in-out; /* Add a fade-in and stair-like movement animation */
}
.yok {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 5em;
  height: 2%;
  text-shadow: rgba(10, 10, 30, .3) 0px 0px 5px;
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  transition: all 1s ease;
  letter-spacing: 2px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -88% -50%;
  z-index: 5;
  animation: fadeIn 1s ease-in-out; /* Add a fade-in and stair-like movement animation */
}
  .ynl{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    height: 80%;
    background-color: rgba(220, 220, 220, .95);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    box-shadow: 0px 0px 200px rgba(0, 0, 0, .5);
    display: block;
    visibility: hidden;
    align-self: center;
  }
  #ynlyz{
    display: inline-block;
    color: rgb(220, 60, 70);
    text-shadow: rgba(220, 50, 50, .5) 0px 0px 5px;
    font-family: Josefin sans;
    font-weight: bolder;
    font-size: 35px;
  }
  #Layer_1{
    position: absolute;
    top: 3%;
    right: 5%;
    display: inline-block;
  }
  #ynlskr{
    display: inline-block;
    color: rgb(0, 60, 70);
    text-shadow: rgba(0, 40, 70, .3) 0px 0px 5px;
    font-family: Josefin sans;
    font-weight: lighter;
    margin-top: -15px;
  }
  @keyframes ynl{
    0%{scale: 0; visibility: hidden;}
    60%{scale: 1.1; visibility: visible;}
    100%{scale: 1; visibility: visible;}
  }
  @keyframes ynlkpt{
    0%{scale: 1; visibility: visible;}
    40%{scale: 1.05; visibility: visible;}
    100%{scale: 0; visibility: hidden;}
  }
/* ... (Your existing styles) ... */
.btn{
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: inline-block;
  width: 10em;
  height: 5em;
  border-radius: 30px;
  background-color: rgba(50, 220, 20, .9);
  box-shadow: rgb(30, 220, 30) 0px 0px 20px;
  cursor: pointer;
}
#ply{
  display: inline-block;
  width: 5em;
  height: 5em;
  filter: drop-shadow(rgba(200, 255, 200, .5) 0px 0px 5px);
  margin-bottom: -2em;
  margin-right: -.75em;
  cursor: pointer;
}
.oyn{
  display: inline-block;
  font-family: Josefin Sans;
  font-size: 22.5px;
  position: relative;
  color: white;
  cursor: pointer;
}
@keyframes bb{
  0%{bottom: 5%; right: 5%;}
  20%{bottom: 7.5%; right: 5%;}
  80%{bottom: -20%; right: 5%;}
  100%{bottom: -20%; right: 5%; display: none; visibility: hidden;}
}
@keyframes gg{
  0%{bottom: -20%; right: 5%; display: none; visibility: hidden;}
  20%{bottom: -20%; right: 5%;}
  80%{bottom: 7.5%; right: 5%;}
  100%{bottom: 5%; right: 5%;}
}
@keyframes shake{
  0%{left: 50%; top: 50%; transform: translate(-50%, -50%)}
  50%{left: 55%; top: 50%; transform: translate(-50%, -50%); color: rgb(200, 70, 70); border-bottom: 2px rgb(200, 70, 70) solid;}
  100%{left: 50%; top: 50%; transform: translate(-50%, -50%)}
}
.shake{
  animation: shake .5s ease-in-out alternate;
  animation-iteration-count: 2;
}
  @keyframes ynlbdy{
    to{background-position: 0% 0%}
  }
}
@media(min-width: 680px){
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(120deg, rgb(240, 240, 250), rgb(200, 200, 200), rgb(175, 250, 150), rgb(120, 100, 200), rgb(150, 150, 120));
  background-repeat: repeat;
  background-size: 1000%;
  background-position: 0% 0%;
  transition: background-position .5s ease-in-out;
}
#klm {
  font-family: Rubik Doodle Shadow;
  position: absolute;
  top: 0;
  left: 5%;
  font-size: 90px;
}

#trt {
  font-family: Rubik Doodle Shadow;
  position: absolute;
  top: 9%;
  left: 12%;
  font-size: 90px;
}
#chckb{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 5%;
    right: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 3em;
  }
  .chck{
    position: relative;
    width: 3em;
    height: 3em;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: -.25em;
  }
  .chckyz{
    position: relative;
    font-family: Josefin Sans;
    display: inline-block;
    font-size: 15px;
    width: 12em;
  }
  #hata{
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 15%;
    display: flex;
    background-color: rgba(200, 145, 120, .4);
    backdrop-filter: blur(50px);
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    box-shadow: rgba(200, 145, 120, .5) 0px 0px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  #hatasebep{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(240, 220, 240);
    text-shadow: rgba(240, 220, 240, .7) 0px 0px 10px;
    font-weight: bolder;
    width: 10em;
    min-width: 10em;
    height: 3em;
    overflow: hidden;
  }
  @keyframes hatavar{
    from{width: 0; display: none;}
    to{width: 50%; display: flex;}
  }
.bslk {
  transition: all 1s ease;
}

.kel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  transition: all 1.5s ease;
  opacity: 1;
  animation-delay: .25s;
  animation: fadeIn 1s ease; /* Add a fade-in animation */
  z-index: 2;
}
@keyframes fail{
  from{border-bottom: 2px rgb(0, 0, 0) solid; color: rgb(0, 0, 0)}
  to{border-bottom: 2px rgb(200, 70, 70) solid; color: rgb(200, 70, 70)}
}
@keyframes fadeIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes scale{
  0%{scale: 1}
  70%{scale: 1.1}
  100%{scale: 0}
}
@keyframes scaleters{
  0%{scale: 0}
  70%{scale: 1.1}
  100%{scale: 1}
}
.hrf {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 2em;
  height: 150%;
  border-radius: 0px;
  text-shadow: rgba(10, 10, 30, .3) 0px 0px 5px;
  border: 1px solid transparent;
  border-top: none;
  background: transparent;
  border-color: none;
  border-bottom: solid;
  border-bottom-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: border-bottom-color ease .35s;
  font-size: 20px;
  text-transform: uppercase;
}
.yok{
  left: 0;
  top: 0;
}
.gk {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 5em;
  height: 2%;
  text-shadow: rgba(10, 10, 30, .3) 0px 0px 5px;
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  transition: all 1s ease;
  letter-spacing: 2px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -88% -50%;
  z-index: 5;
  animation: fadeIn 1s ease-in-out; /* Add a fade-in and stair-like movement animation */
}
.yok {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 5em;
  height: 2%;
  text-shadow: rgba(10, 10, 30, .3) 0px 0px 5px;
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  transition: all 1s ease;
  letter-spacing: 2px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -88% -50%;
  z-index: 5;
  animation: fadeIn 1s ease-in-out; /* Add a fade-in and stair-like movement animation */
}
  .ynl{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 45%;
    max-width: 1135px;
    height: 85%;
    background-color: rgba(235, 235, 235, .95);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .5) 0px 0px 50px;
    display: block;
    visibility: hidden;
    align-self: center;
  }
  .vignette{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 7;
    visibility: hidden;
  }
  @keyframes vignet{
    to{visibility: visible; box-shadow: 0px 0px 300px rgba(0, 0, 0, .9) inset}
  }
  @keyframes vignetbck{
    to{box-shadow: 0px 0px 0px rgba(0, 0, 0, .9) inset}
}
  #ynlyz{
    display: inline-block;
    color: rgb(220, 60, 70);
    text-shadow: rgba(220, 50, 50, .5) 0px 0px 5px;
    font-family: Josefin sans;
    font-weight: bolder;
    font-size: 60px;
  }
  #Layer_1{
    position: absolute;
    top: 3%;
    right: 3%;
    display: inline-block;
    cursor: pointer;
  }
  #ynlskr{
    display: block;
    color: rgb(0, 60, 70);
    text-shadow: rgba(0, 40, 70, .3) 0px 0px 5px;
    font-family: Josefin sans;
    font-weight: lighter;
    margin-top: -15px;
  }
  @keyframes ynl{
    0%{scale: 0; visibility: hidden;}
    60%{scale: 1.05; visibility: visible;}
    100%{scale: 1; visibility: visible;}
  }
  @keyframes ynlkpt{
    0%{scale: 1; visibility: visible;}
    40%{scale: 1.05; visibility: visible;}
    100%{scale: 0; visibility: hidden;}
  }
/* ... (Your existing styles) ... */
.btn{
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: inline-block;
  width: 20em;
  height: 10em;
  border-radius: 30px;
  background-color: rgba(50, 220, 20, .9);
  box-shadow: rgb(30, 220, 30) 0px 0px 20px;
  cursor: pointer;
}
#ply{
  display: inline-block;
  width: 10em;
  height: 10em;
  filter: drop-shadow(rgba(200, 255, 200, .5) 0px 0px 5px);
  margin-bottom: -4em;
  margin-right: -1em;
  cursor: pointer;
}
.oyn{
  display: inline-block;
  font-family: Josefin Sans;
  font-size: 35px;
  position: relative;
  color: white;
  cursor: pointer;
}
@keyframes bb{
  0%{bottom: 5%; right: 5%;}
  20%{bottom: 7.5%; right: 5%;}
  80%{bottom: -20%; right: 5%;}
  100%{bottom: -20%; right: 5%; display: none; visibility: hidden;}
}
@keyframes gg{
  0%{bottom: -20%; right: 5%; display: none; visibility: hidden;}
  20%{bottom: -20%; right: 5%;}
  80%{bottom: 7.5%; right: 5%;}
  100%{bottom: 5%; right: 5%;}
}
@keyframes shake{
  0%{left: 50%; top: 50%; transform: translate(-50%, -50%)}
  50%{left: 55%; top: 50%; transform: translate(-50%, -50%); color: rgb(200, 70, 70); border-bottom: 2px rgb(200, 70, 70) solid;}
  100%{left: 50%; top: 50%; transform: translate(-50%, -50%)}
}
.shake{
  animation: shake .5s ease-in-out alternate;
  animation-iteration-count: 2;
}
  @keyframes ynlbdy{
    to{background-position: 0% 0%}
  }
}
